/* 
		Name: NUR YASMIN BINTI MOHD KAHAR
		Date: 20/6/2021
*/
/*Background Image/Color*/
body{
 	background-color: #2471A3;
 	font-family: arial, verdana, sans-serif;
 	margin-left: 20px;
}
h1{
	text-align: center;
	color: white;
}
p#demo{
	color: yellow;
	font-size: 20px;
}
div{
	background: #D0ECE7; 
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
input#name{
	width: 50%;
	height: 25px;
}
input[type=submit],[type=reset]{
	width: 150px;
	height: 30px;
}